{% extends "main-sitewide/base.html" %}

{% comment %}

    TITLE: home.html
    AUTHOR: Lam Nguyen
    DATE: 2020-03-27
    DESCRIPTION:
        This is the home page, shown to the end user at the the base url ''

{% endcomment %}

<!doctype HTML>

{% load static %}

{% block content %}

<HTML>

<link rel="stylesheet" type="text/css" href="{% static 'css/main-sitewide/introBanner.css' %}">

<body>
    <!-- Banner -->
    <div class="intro-banner img-cont">
        <img class="object-fit_cover" src="{% static 'images/main-sitewide/example1.jpeg' %}" alt="home-major-image-1">
    </div>
    
    
</body>

</HTML>

{% endblock content %}