{% comment %}
    This is the titlebar, edit this to see the title change sitewide
{% endcomment %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main-sitewide/titlebar.css' %}">

<header>
    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>neXt <span> Institute </span></h1>
            </div>

            <ul class "basic-navigation">
                <a href=""><li>Home</li></a>
                <a href="about"><li>About us</li></a>
                <a href="contact"><li>Contact us</li></a>
            </ul>
        </div>
    </div>
</header>