.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner-footer .logo-container {
    display: block;
    width: 35%;
    float: left;
    height: 100%;
    background-color: #18181a;
}

.inner-footer .logo-container img {
    width: auto;
    height: 120px;
}

.inner-footer .footer-third {
    width: calc(21.6666667% - 20px);
    margin-right: 10px;
    float: right;
    height: 100%;
    color: white;
}

.inner-footer .footer-third:last-child {
    margin: 0px;
}
.inner-footer .footer-third h1 {
    font-family: Montserrat;
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 200;
    color: white;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .footer-third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner-footer .footer-third span {
    color: white;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;



}
