.main-navigation-container {
    width: 100%;
    height: 40px;
    padding: 0px;
    margin: 0px;
    background-color: #d11507;
    display: block;
}

.main-navigation-container-inner {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #d11507;
}

.main-navigation {
    height: 100%;
    float: left;
}

.main-navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 16px;
}

.main-navigation a li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
}