.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
.inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #101010;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
    background-color: #101010;

    /* This is to adjust for the main navigation bar */
    padding-left: 20px;
}
.logo-container a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 200;
}
.logo-container h1 span {
    font-weight: 800;
}

.basic-navigation {
    height: 100%;
    float: right;
}
.basic-navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.basic-navigation a li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
}