<!doctype HTML>
<HTML>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="website description">
    <meta name="author" content="Lam Nguyen">
    <meta name="keywords" content="next, future factories, mechanical engineering, uofsc">
    <title>BASE TITLE</title>
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
    <!-- titlebar.html is the titlebar -->
    {% include "main/titlebar.html" %}

    <!-- navbar.html is the Navigation Bar -->
    {% include "main/navbar.html" %} 

    <h1>test css h1 red expected</h1>
    {% block content %}
        replace this "block content"
    {% endblock %}
</body>
</HTML>