{% comment %}
    this is the Navbar file, edit here for changing sitewide Navbar

    Lam Nguyen
{% endcomment %}
<nav>
    <h1>PLACE HOLDER FOR NAVBAR</h1>
    <ul>

        <!-- Principal Investigator | Teaching | Research | Service | Statement | Photos | Links -->
        <li><a href="principal-investigator">Principal Investigator</a></li>
        <li><a href="teaching">Teaching</a></li>
        <li><a href="research">Research</a></li>
        <li><a href="service">Service</a></li>
        <li><a href="statement">statement</a></li>
        <li><a href="photos">photos</a></li>
        <li><a href="links">links</a></li>
    </ul>
<nav>
